
<% provide(:title, 'Users') %>

<%  @users.each do |user| %>
	<div>
		<%= user.user_name %>
		<%= user.email %>
		
		<% user.player_characters.each do |player_character| %>
		<ul>
			<li><%= player_character.name %></li>
		</ul>
		<% end %>
	</div>
<% end %>

<hr>

<%= link_to "Home", root_path %>
