<% provide(:title, 'User-Profile') %>

<div class="jumbotron">
  <div class="container">
    <h1 align="center"><strong>Hello, <%= current_user.user_name %>!</strong></h1>
    <br>
    <p align="center">Use the navigation bar to create characters, build games, and explore the site.</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 align="center"><strong>Characters</strong></h1>
    <br>
    <p align="center"><b>View Tab:</b> See any character you have built and edit or delete</p>
    <p align="center"><b>Create Tab:</b> Build a new character with a blank character sheet</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 align="center"><strong>Games</strong></h1>
    <br>
    <p align="center"><b>Create Tab:</b> Create a new game as the Dungeon Master </p>
    <p align="center"><b>View Tab:</b> See your Active Games List and leave or delete games </p>
    <p align="center"><b>Game Invitations Tab:</b> See Game Invitations sent to you by another Dungeon Master</p>
  </div>
</div>

