<h1>Editing Character</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @player_character, class: "btn btn-default" %> 
<%= link_to 'View Characters', player_characters_path, class: "btn btn-default" %>
